* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #0a0a0a;
  --secondary-color: #f0f0f0;
  --background-color: #f0f0f0;
  --text-color: #333333;
}

@font-face {
  font-family: "Bebas Neue";
  src: url("/src/assets/fonts/BebasNeue-Regular.otf");
}

html {
  font-family: "Bebas Neue", Arial, sans-serif;
  font-size: 1.5rem;
  line-height: 1.2;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

.btn {
  display: inline-block;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 2rem;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  z-index: 2;
}

header h1 {
  font-size: 2rem;
  font-weight: 400;
}

header nav {
  display: flex;
  gap: 1rem;
  align-items: baseline;
}

.hero {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

section.new-drop {
  min-height: calc(100vh - 4rem);
  padding: 2rem;

  display: flex;
  align-items: end;
}

section.new-drop img {
  width: 100%;
}

section.content {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  font-size: 3rem;
  margin: 3rem 0 5rem 0;
}

section.content p {
  position: relative;
  z-index: 2;
}
